<grammar version="1.0" sapi:alphabet="x-microsoft-ups" xml:lang="ko-kr" root="Command"
         tag-format="semantics-ms/1.0" xmlns="http://www.w3.org/2001/06/grammar"
         xmlns:sapi="http://schemas.microsoft.com/Speech/2002/06/SRGSExtensions">
  <rule id="Command" scope="public">
    <one-of>
      <item>동쪽으로</item>
      <item>북쪽으로</item>
      <item>서쪽으로</item>
      <item>남쪽으로</item>
    </one-of>
    <one-of>
        <item>가라</item>
        <item>가지마라</item>
    </one-of>
  </rule>
</grammar>